input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  textarea {	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
  }

  a:link, a:visited {
    background-color: #476072;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 20px;
    display: inline-block;
    font-size: x-large;
  }
  
  a:hover, a:active {
    text-decoration: underline;
  }

  label {
    font-size: large;
    font-weight: bold;
  }

  h3 {
    text-align: center;
  }

  /* Style the tab */
.tab {
  background-color: #476072;
  margin: 10px 0px;
  padding: 0px 10px;
}

.menu {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
